body{
    color: rgba(255, 228, 51, 0.998);
    background-color: black;
    text-align: center;
}
h1{
    color: rgba(255, 228, 51, 0.998);
}
.games{
    margin: 10px;
    border: 1px solid rgba(255, 228, 51, 0.998);
    border-radius: 3px;
    min-height: 600px;
    width: 90%;
    
}
.form{
    border: 1px solid rgba(255, 228, 51, 0.998);
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 350px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mon-bouton{
    color: black;
    border: none;
    background-color: rgba(255, 228, 51, 0.998);
}