<!DOCTYPE html>
<html>
    <head>
        <title>a</title>
        <link rel="stylesheet" href="{{url_for('static' , filename='style.css') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="theme-color" content="#000000">
        <script>
            window.addEventListener('load', function() {
                const result = "{{ result }}";
                if (result === "false") {
                    alert("Mauvaise réponse !");
                } else if (result === "success") {
                    alert("Bonne réponse !");
                }
            });
        </script>
    </head>
    <body>
        <h1>Bienvenue</h1>
        <h2>entre un nombre entre 1 et 10 et regarde si tu as de la chance</h2>
        <form method="POST" action="#" class="form">
            <input type="text" name="nombre" placeholder="Votre nombre..." id="nombre" required>
        </form>
    </body>

</html>

