<!DOCTYPE html>
<html>
    <head>
        <title>eqations</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>eqations</h1>
        <form method="post">
            <input name="eq" placeholder="12x + 3 * 4 = 5x">
            <button>Résoudre</button>
        </form>

{% if x is not none %}
<p>Solution : x = {{ x }}</p>
{% endif %}

{% if erreur %}
<p>{{ erreur }}</p>
{% endif %}
    </body>
</html>
        
        
